{% extends "template.htm" %}

{% block title %}About{% endblock %}

{% block content %}
<h1>About</h1>
<p>This site allows you to conveniently check the validity of GST numbers and the registration details of the associated company.
You can search by <strong>GST Number</strong>, <strong>Business Registration Number</strong> and <strong>business name</strong>.
This site functions exactly the same as the official GST <a href="https://gst.customs.gov.my/TAP/_/">Taxpayer Access Point</a>
All results shown on this site is based on the official GST site.

<h1>Disclaimer</h1>
<p>The results presented on this site is for information purposes only.
They are not guaranteed to be correct.
The website is not responsible for any loss due to misinformation obtained from this site.
{% endblock %}
