<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>{% block title %}{% endblock %} - {{ config['SITE_NAME'] }}</title>

        <!-- Bootstrap -->
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Mobile WebApp -->
        <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
        <meta name="mobile-web-app-capable" content="yes">
        <link rel="icon" sizes="192x192" href="{{ url_for('static', filename='img/android-icon-192px.png')  }}">
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='img/ios-icon-180px.png') }}">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <script src="{{ url_for('static', filename='js/ios.js') }}"></script>
        <meta name="application-name" content="MobileGST">
        <meta name="msapplication-config" content="{{ url_for('static', filename='ieconfig.xml') }}">
        <meta name="msapplication-starturl" content="/">

        <!-- Facebook Open Graph -->
        <meta property="og:url" content="http://mobile-gst.volzel.net/">
        <meta property="og:type" content="website">
        <meta property="og:title" content="MobileGST">
        <meta property="og:description" content="Easily look up GST status on the go!">
        <meta property="og:image" content="http://mobile-gst.volzel.net{{ url_for('static', filename='img/facebook-og-icon.png') }}">
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand"><img src="{{ url_for('static', filename='img/gst-logo.png') }}" />{{ config['SITE_NAME'] }}</a>
                </div>
                <div class="navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Search by <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{ url_for('gst_num') }}">GST Number</a></li>
                                <li><a href="{{ url_for('business_num') }}">Business Registration</a></li>
                                <li><a href="{{ url_for('business_name') }}">Business Name</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>

        <footer class="footer">
            <div class="container">
                <p>&copy; 2015 Volvagia356 &mdash; <a href="{{ url_for('about') }}">About</a> | <a href="https://github.com/Volvagia356/mobile-gst" target="_blank">GitHub</a>
            </div>
        </footer>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>
